<h1>Welcome to our Blog</h1>


<% for blog in @blogs %>
	<div class="wraper_blog">
		<h2 class="title_blog"><%=h blog.title %></h2>
		<span class="date_blog"><span>
		<p class="body_blog"><%= blog.body %></p>
	</div>
<% end %>



