<div class="search">
	<% form_tag '/search_client', :method => 'get' do %>
	  <label>Search by Client Number:</label>
		<%= text_field :search, params[:search] %> <%= submit_tag 'search', :name => nil, :class => 'submit' %>
	<% end %>
</div>