<div class="search">
	<% form_tag "/admin/search_room", :method => 'get' do  %>
		<label>Search by room code:</label>
		 <%= text_field :room_number, params[:room_number] %> <%= submit_tag 'search', :name => nil, :class => 'submit' %>
	<% end %>
</div>