<%= link_to 'new city', new_city_path %>
<table class="admin">
  <tr>
    <th>Name</th>
		<th>Edit</th>
		<th>Destroy</th>
  </tr>

<% for city in @cities %>
  <tr>
    <td><%=h city.name %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @cities%>
