


<table class="admin">
  <tr>
    <th>Name</th>
		<th>Edit</th>
		<th>Destroy</th>
  </tr>

<% for resort in @resorts %>
  <tr>
    <td><%=h resort.name %></td>
    <td><%= link_to 'Edit', edit_resort_path(resort) %></td>
    <td><%= link_to 'Destroy', resort, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="pagination">
	<%= will_paginate @resorts %>
</div>