<h2>Unit Sizes</h2>


<table class="admin">
  <tr>
    <th>Name</th>
  </tr>

<% for unit_size in @unit_sizes %>
  <tr>
    <td><%=h unit_size.name %></td>
    <td><%= link_to 'Edit', edit_unit_size_path(unit_size) %></td>
    <td><%= link_to 'Destroy', unit_size, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New unit_size', new_unit_size_path %>
