
<h2>We are so glad you have decided to join us!</h2>

<p> Please note your first year of service is FREE. You will be contacted before the one year annivarsary with a view to renew your service for $49.95 per year.</p>
  
<%= render :partial => 'opt_in' %>