<h1>We are sad to see you go</h1>

<p>Please do not hesitate to contact us in the future for your rental / sales needs. Please fill out the form as accurately as possible. In order for you to receive your complementary gift we need your current contact information.</p>

<%= render :partial => 'opt_out' %>