<p>Hello</p>
<p>Somebody has opted out</p>
<p>Name: <%= @client.full_name %></p>
<p>Second Name: <%= @client.full_name_second %></p>
<p>Address: <%= @client.address %></p>
<p>City: <%= @client.city %></p>
<p>State: <%= @client.state %></p>
<p>Zip: <%= @client.zip %></p>
<p>Home Phone: <%= @client.home_phone %></p>
<p>Work Phone: <%= @client.work_phone %></p>
<p>Email:<%= @client.email %></p>