<%= render :partial => "layouts/static_banner", :locals => { :image => "/images/main_banner/acapulco.jpg" }%>

<div class="blur">
<h1>Let's talk</h1>
<p>LuxuryResortManagement, LLC. 101 Riverside Drive, Pompano Beach, FL 33062</p>

<p>e-mail: info@luxuryresortmanagement.com</p>

<h2>PHONE:<h2>
<p>Main number 954.773.2130</p>
<p>Main Toll Free 866-932-7918</p>
</div>







