<%= render :partial => "layouts/static_banner", :locals => { :image => "/images/main_banner/acapulco.jpg" }%>

<div class="blur">
	<h1>Let's talk</h1>
	<p>Just fill the form and we'll email you or give you a call</p>
	<%= render :partial => 'form_contact' %>
</div>

<div class="boxes_down">
	<center><p><b>If you wish to email us, just drop us a line at info@luxuryresortmanagement.com or call us to the numbers at the bottom of this page.</b></p></center>
</div>






