<%= render :partial => "layouts/static_banner", :locals => { :image => "/images/main_banner/about_us.jpg" }%>

<div class="colRight">
	<h1>Let's talk</h1>
	<%= render :partial => 'form_contact' %>
	<p><b>If you wish to email us, just drop us a line at info@luxuryresortmanagement.com or call us to the numbers at the bottom of this page.</b></p>
</div>

<div class="colLeft">
	
</div>






