<%= render :partial => "layouts/static_banner", :locals => { :standard => "yes",:image => "/images/main_banner/main_banner.jpg" }%>

<div class="blur">
<h1>Welcome</h1>
<h2>Our goal is to provide you with the top of the notch 
resorts around the world, just for you.</h2>
</div>

<div class="join_club">
	<%= render :partial => "mailinglists/new"%>
</div>

