<p><img src="http://luxuryresortmanagement.com/images/logo.jpg" alt="Luxury Resort Management Logo"/></p>
<p>Dear <%= @client.full_name %></p>

<p>Thank you very much for registering with us.</p>
<p>We'll contact you shortly.</p>

<%= render :partial => 'layouts/footer_contracts'%> 