<div class="amenities">
	<h6>Amenities</h6>
	<p>• Beach • Car Rental Service • Fishing • Kiddie Pool • Laundry Facilities • Live Entertainment • Medical Services • Outdoor Pool • Restaurant • Scuba Classes • Snackbar • Tennis</p>
</div>