<div class="add_room">
<%=   error_messages_for :room %>				
<%= link_to_remote "Do you have a unit you would like to list?", 
										:url => { :controller => "rooms", :action => "new"},
										:update => { :success => "add_room_form", :failure => "error"},
										:complete => visual_effect(:toggle_blind, "add_room_form") %>
<br/>
</div>

<div id="add_room_form" style="display: none;">
</div>