<div class="testimonial">
	<h3>“Just wanted to drop a line to let you know how wonderful our vacation was.  Your recommendation to stay at the Bayview Club El Presidente proved excellence.  The accommodations were fabulous and the food was top quality.” </h3>
	<p>Sonia Keath</p>
</div>