<fieldset>
	<legend>Add a unit to this resort</legend>	
		<% form_for @room, :html => { :multipart => "true" } do |f| %>
			<p>
				<%= f.label :unit_Id %><br/>
				<%= f.text_field :code %>
			</p>
			<p>
				<%= f.label :availability_ig_Feb15_Feb30 %><br/>
				<%= f.text_field :availability %>
			</p>
			<p>
				<%= f.label :sale_Or_Rent %><br/>
			</p>
			<p>
				<%= f.label :price %><br/>
				<%= f.text_field :price%>
			</p>
			<p>
				<%= f.label :image %>
		<% end %>
</fieldset>