<div class="main_blur">
	<h5><%=h @resort.name %></h5>
  <h3 class="resort_description"><%=h @resort.description %></h3>
</div>

<div class="blur">
	<%= render :partial => "mailinglists/new"%>
	<h3>“Just wanted to drop a line to let you know how wonderful our 
vacation was.  Your recommendation to stay at the Bayview Club El Presidente proved excellence.  The accommodations were fabulous and the food was top quality.”  
	<p>Sonia Keath</p>
</div>


<div class="amenities">
	<h6>Amenities</h6>
	<p>• Beach • Car Rental Service • Fishing • Kiddie Pool • Laundry Facilities • Live Entertainment • Medical Services • Outdoor Pool • Restaurant • Scuba Classes • Snackbar • Tennis</p>
</div>
