<%= render :partial => "layouts/static_banner"%>

<div class="blur">
<h1><%=h @location.name %></h1>
<p><%=h @location.description %></p>
</div>

<div class="boxes_down">
	<%= render :partial => "show_cities" %>
</div>