<div class="foot">
	<img src="/images/icon_footer.jpg" alt="Resort Luxury Managment Footer"/>
	<p>LuxuryResortManagement, LLC. Address 9461 Charleville Blvd 
	Beverly Hills Ca 90212 </p>
	<p>Phone number 310-975-7661</p>
</div>