<div class="foot">
	<img src="/images/icon_footer.jpg" alt="Resort Luxury Managment Footer"/>
	<p>LuxuryResortManagement, LLC. 3032 East Commercial Blvd. Suite#14 Fort Lauderdale,Fl. 33308</p>
	<p>Main number (954) 642-2480 and (888) 772-2480</p>
</div>