<div class="footer">
	<img src="/images/icon_footer.jpg" alt="Resort Luxury Managment Footer"/>
	<p>LuxuryResortManagement, LLC. 1000 Startling Drive, Miami FL 33062. Term of Services</p>
	<p>Main number 954.311.1111 - Main Toll Free 800.342.2222 - Main Fax 954.311.1112 - Customer service and Reservations 800.492.3700.</p>
</div>