<div class="menu"> <ul class="lista_menu">
											<li><a href="/">HOME</a></li>
											<li><a href="/home/about">ABOUT</a></li>
											<li><a href="/locations/">LOCATIONS</a></li>
											<li><a href="/home/contact">CONTACT</a></li>
										</ul>
</div>