<div class="menu" id="menu"> <ul class="lista_menu">
											<li><a href="/">HOME</a></li>
											<li><a href="/home/about">ABOUT US</a></li>
											<li><a href="/locations/">LOCATIONS</a></li>
											<!-- <li><a href="/blogs">BLOG</a></li> -->
											<li><a href="/home/contact">CONTACT</a></li>
										</ul>
</div>




<div id="cart" style="float: left; width: 100%; display: none;">hello</div>