<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Administration for Luxury Resort Managment</title>
	<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" title="main css" charset="utf-8" />
	<link rel="stylesheet" href="/stylesheets/text.css" type="text/css" media="screen"  charset="utf-8" />
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="stylesheets/layout_ie.css" type="text/css" media="screen"  charset="utf-8" />
	<![endif] -->
	<%= javascript_include_tag 'prototype' %>
</head>

<body>
	
	<div class="container">
		<div style="width: 100%; text-align: center;">
			<img src="/images/logo.jpg" alt="resort luxury managment logo"/>
		</div>
		<div style="width: 100%; float: left; text-align: left;">			
					<%= render :partial => "/admin/menu" %>
					<%= yield %>
		</div>
		
		<%= render :partial => "layouts/footer" %>
		
		
	</div>
</body>
</html>
